<div style="background-color: #eaeaea; height:100vh;overflow-x: hidden;">
    <div class="row container">

        <div class="col-sm-5 m-auto">
            <div style="margin-top: 100px;" class="card">
                <div style="background-color: #02256b;" class="card-header text-light text-center">
                    <h3><i class="bi bi-key"></i> Password Reset </h3>
                </div>
                <div class="text-center">
                    <%- include ("./partials/messages") %>
                </div>
                <div class="card-body">
                    <form action="/auth/reset_password/:token" method="POST">
                        <div class="mb-3">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control"  placeholder="Enter Password">
                        </div>
                        <div class="mb-3">
                            <label for="Cpassword">Confirm Password</label>
                            <input type="password" name="Cpassword" class="form-control"  placeholder="Confirm Password">
                        </div>
                        <div class="mb-3">
                            <input type="submit" class="btn btn-outline-primary btn-block" value="Reset Password">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>>